.centered_app {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
}

.center_primary_button {
  border-radius: 4px;
  background: #0C4F82;
  padding: 14px;
  width: 30%;
  justify-content: center;
  align-items: center;
  font-family: Futura PT;
  font-size: large;
  color: #FFF;
  border: none;
  margin: 14px;
}

.center_primary_button:hover {
  background: rgba(73, 98, 110, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.compressed_box {
  vertical-align: middle;
  display: flexbox;
  margin: auto;
  background: #FFF;
  padding-left: 14px;
  padding-right: 14px;
}

