.button {
    border-radius: 4px;
    background: #0C4F82;
    padding: 14px;
    font-family: Futura PT;
    font-size: large;
    color: #FFF;
    border: none;
}

.button:hover {
    background: rgb(255, 255, 255);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

.textButton {
    margin-left: 20%;
    border: none;
    background: none;
    font-family: Futura PT;
    font-weight: bold;
    font-size: medium;
    color: #000;
  }
  
  .textButton:hover {
    color: #5d5d5d;
    text-decoration: underline;
  }
  
  .customInput {
    background: #D9D9D9;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
    min-width: 80%;
    font-family: Futura PT;
    font-weight: bold;
    font-size: medium;
    color: rgb(69, 69, 69);
  }
  
  .icon {
    height: 30px;
    margin: auto;
    padding: 14px;
  }

  .evenly_distributed_field {
    display: flex;
    justify-content: space-between;
    margin: 14px;
    min-height: 48px;
    width: 400px;
    box-sizing: border-box;
  }

  .h1 {
    color: #000;
    margin-bottom: 0;
    font-family: Futura PT;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .h2 {
    color: #000;
    margin-top: 0;
    font-family: Futura PT;
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  .bold_text{
    border: none;
      background: none;
      font-family: Futura PT;
      font-weight: bold;
      font-size: medium;
      color: #000;
    }