.auth_window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
}

.auth_workspace {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
}

.auth_whitecard {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #fff;
  padding: 14px;
  margin: 14px;
}

.auth_input {
  background: #d9d9d9;
  padding-left: 14px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: rgb(69, 69, 69);
  display: grid;
  position: relative;
}

.auth_block_for_password_input {
  background: #d9d9d9;
  padding-left: 14px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: rgb(69, 69, 69);
  display: grid;
  position: relative;
}

.auth_password_input {
  background: #d9d9d9;
  left: -14px;
  padding-left: 14px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 85%;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: rgb(69, 69, 69);
  display: grid;
  position: relative;
}

.auth_password_input_icon {
  height: 30px;
  align-self: center;
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 9px;
  cursor: pointer;
}

.auth_evenly_distributed_field {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  height: 48px;
  width: 400px;
  box-sizing: border-box;
}

.auth_button {
  border-radius: 4px;
  background: rgb(12, 79, 130);
  padding: 14px;
  font-family: Futura PT;
  font-size: large;
  color: #fff;
  border: none;
  height: 48px;
  width: 192px;
  
}

.auth_button:hover {
  background: rgb(255, 255, 255);
  color: rgb(58, 121, 153);
  box-shadow: inset 0 0 0 3px #3a7999;
  
}

.auth_textbutton {
  margin-left: 15%;
  border: none;
  background: none;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: #000;
  margin-right: 14px;
  height: 48px;
  display: flex;
  padding-top: 24px;
  cursor: pointer;
}


.auth_textbutton:hover {
  color: #5d5d5d;
  text-decoration: underline;
}

.auth_icon {
  height: 30px;
  justify-content: center;
  padding-top: 9px;
  padding-right: 9px;
}

/*---mobile content----*/
@media (max-width: 450px) {
  .auth_inputicon {
    display: none;
  }

  .auth_evenly_distributed_field {
    max-width: 250px;
  }

  .auth_password_input {
    width: 100%;
  }
}
