.file-btn {
  font-family: Futura PT;
  
  width: 100%;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #0c4f82;
  background-color: #fff;
  border: 1.5px dashed #0c4f82;
  border-radius: 3px;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.3s ease;
  object-fit: cover;
  height: 100%;
}

.file-btn:hover {
  color: #0c4f82;
  background-color: #fff;
}

.file-btn span {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #0c4f82;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.selected-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-top: 13px;
}

.selected-file p {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  word-break: break-all;
}

.selected-file button {
  font-family: Futura PT;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.selected-file button:hover {
  color: #DE360C;
  background-color: rgb(255, 189, 173);
}


.inputBlock > svg {
  display: none;
}

@media screen and (max-width: 1400px) {
  .inputBlock > span,
  .inputBlock > p {
    display: none;
  }
  
  .inputBlock > svg {
    display: inline-block !important;
  }
}
