.header_container {
    height: 56px;
    background: white;
    display: flex;
    width: 100%;
    top: 0;
    overflow: hidden;
  }
  
  .block {
    text-align: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }
  
  .evenly_distributed_block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    white-space: nowrap;
    height: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
  
  @media (min-width: 980px) {
    .icon,
    .button_icon {
      height: 30px;
      margin: auto;
      padding: 14px;
    }
  
    .logo_name {
      color: #000;
      margin: auto;
      font-family: Futura PT;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      padding: 4px;
      line-height: normal;
    }
  
    .logo_text {
      color: #000;
      margin: auto;
      padding: auto;
      padding-left: 4px;
      font-family: Futura PT;
      font-size: 24px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }
  
    .text {
      color: #000;
      margin: auto;
      padding: 19px;
      font-family: Futura PT;
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }
  
    .text:hover {
      box-shadow: 0 0 2px -4px rgba(31, 73, 125, 0.8),
        0 0 8px -4px rgba(31, 73, 125, 0.8);
    }
  
    .button_icon:hover {
      box-shadow: 0 0 2px -4px rgba(31, 73, 125, 0.8),
        0 0 8px -4px rgba(31, 73, 125, 0.8);
    }
  
    .user_block {
      display: flex;
      padding-right: px;
    }
  
    .user_block:hover {
      box-shadow: 0 0 2px -4px rgba(31, 73, 125, 0.8),
        0 0 8px -4px rgba(31, 73, 125, 0.8);
    }
  
    .simple_text {
      color: #000;
      margin: auto;
      font-family: Futura PT;
      font-size: 16px;
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }
  
    .button_icon_small {
      display: none;
    }
  }
  
  @media (max-width: 1200px) {
    .logo_text {
      display: none;
    }
  }
  
  @media (max-width: 979px) {
    .logo_name {
      color: #000;
      margin: auto;
      font-family: Futura PT;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      padding: 4px;
      line-height: normal;
    }
  
    .user_block,
    .logo_text,
    .button_icon,
    .text {
      display: none;
    }
  
    .button_icon_small {
      height: 30px;
      margin: auto;
      padding: 14px;
    }
  
    .button_icon_small:hover {
      box-shadow: 0 0 2px -4px rgba(31, 73, 125, 0.8),
        0 0 8px -4px rgba(31, 73, 125, 0.8);
    }
  }