.message_alert_overlay {
  position: fixed;
  font-family: Futura PT;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.message_alert_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  white-space: wrap;
}

.message_alert_modal_confirm {
  color: #000000;
  width: 400px;
}
.message_alert_modal_confirm .message_alert_modal_content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.message_alert_modal_confirm .message_alert_modal_header {
  border-bottom: none;
  position: relative;
}
.message_alert_modal_confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.message_alert_modal_confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
  border: none;
  background: none;
  cursor: pointer;
}
.message_alert_modal-confirm .message_alert_modal_body {
  color: #000000;
}
.message_alert_modal_confirm .message_alert_modal_footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
  display: flex;
}
.message_alert_modal_confirm .message_alert_modal_footer a {
  color: #000000;
}
.message_alert_modal_confirm .message_alert_icon_box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.message_alert_modal_confirm .message_alert_icon_box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.message_alert_btn_secondary,
.message_alert_btn_danger {
  background: #c1c1c1;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  cursor: pointer;
}

.message_alert_modal_confirm .message_alert_btn_danger {
  background: #f15e5e;
  cursor: pointer;
}
.message_alert_modal_confirm .message_alert_btn_danger:hover,
.message_alert_modal_confirm .message_alert_btn_danger:focus {
  background: #ee3535;
}
.message_alert_modal_confirm .message_alert_btn_secondary:hover,
.message_alert_modal-confirm .message_alert_btn_secondary:focus {
  background: #a8a8a8;
}
