.reg_window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
}

.reg_workspace {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  justify-content: safe center;
  align-items: safe center;
}

.reg_whitecard {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #fff;
  padding: 14px;
  margin: 14px;
}

.reg_button {
  border-radius: 4px;
  background: #0c4f82;
  padding: 14px;
  font-family: Futura PT;
  font-size: large;
  color: #fff;
  border: none;
  height: 48px;
  width: 192px;
}

.reg_button:hover {
  background: rgb(255, 255, 255);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.reg_textbutton {
  margin-left: 15%;
  border: none;
  background: none;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: #000;
  margin-right: 14px;
  height: 48px;
  display: flex;
  padding-top: 24px;
  cursor: pointer;
}

.reg_textbutton:hover {
  color: #5d5d5d;
  text-decoration: underline;
}

.reg_evenly_distributed_field {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  height: 48px;
  width: 400px;
  box-sizing: border-box;
}

.reg_input {
  background: #d9d9d9;
  padding-left: 14px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 90%;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: rgb(69, 69, 69);
  display: grid;
  position: relative;
}

.reg_icon {
  height: 30px;
  padding-top: 9px;
  padding-right: 8px;
}

.reg_error_text_position {
  margin-left: 74px;
}

/*---mobile content----*/
@media (max-width: 450px) {
  .reg_evenly_distributed_field {
    max-width: 250px;
  }
}
