.content_tab_statebar {
  padding-left: 14px;
  padding-right: 14px;
  font-family: Futura PT;
  font-size: large;
  color: #000000;
  border: none;
  white-space: nowrap;
  font-family: Futura PT;
  font-size: large;
  flex-direction: column;

  margin-top: 68px;
}

.content_tab_whitecardwithspace {
  display: grid;
  gap: 30px;
  grid-template-columns: [start] 2fr [description] auto;
  padding: 14px;
  background: #fff;
  height: 100%;
  padding-left: 48px;
  padding-right: 48px;
}
.content_tab_whitecardwithspace > button:nth-child(3) {
  grid-column: 1 / span 2;
}

.content_tab_button {
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 4px;
  background: #0c4f82;
  padding: 14px;
  font-family: Futura PT;
  font-size: large;
  color: #fff;
  border: none;
  width: 100%;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.content_tab_button:hover {
  background: rgb(255, 255, 255);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.content_tab_evenly_distributed_field {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  min-height: 48px;
  width: 400px;
  box-sizing: border-box;
}

.content_tab_column_distributed_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 14px;
  box-sizing: border-box;
}

.content_tab_evenly_distributed_field textarea {
  background: #d9d9d9;
  padding: 14px;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  min-width: 94%;
  max-height: 200px;
  min-height: 24px;
  font-family: Futura PT;
  font-weight: bold;
  font-size: medium;
  color: rgb(69, 69, 69);
  display: grid;
  position: relative;
}

.content_answer_block {
  display: flex;
  flex-direction: column;
}

.content_answer_block > div {
  display: grid;
  grid-template-columns: [button] 4rem [image] 1fr [description] 1fr [checkbox] 1fr [delbutton] 4rem;
  gap: 20px;
  margin: 14px;
  height: 200px;
}



/* .content_answer_block input[type="file"] {
  width: 100%;
  margin-bottom: 10px;
}

.content_answer_block textarea {
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.content_answer_block label {
  display: block;
  margin-bottom: 10px;
}

.content_answer_block button {
  position: absolute;
  top: 0;
  right: 0;
} */


fieldset {
  border: none;
}

.content_tab_button_add {
  font-family: Futura PT;
  font-size: medium;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.plus {
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.content_tab_button_add span {
  color: white;
}

.qbuttondelstate {
  border-radius: 1px;
  background: red;
  height: 36px;
  font-family: Futura PT;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
  align-self: center;
  justify-self: center;
  width: 168px;
}

.qbuttondelstate:hover {
  background: white;
  color: red;
  box-shadow: inset 0 0 0 3px red;
  stroke: red;
}

.qbuttondelstate:hover .trashIcon {
  fill: red;
}

.trashIcon {
  fill: white;
}
